%p#notice= notice

%p
  %b Company:
  = @remove_company_from_contractor.company_id

= link_to 'Edit', edit_remove_company_from_contractor_path(@remove_company_from_contractor)
\|
= link_to 'Back', remove_company_from_contractors_path
