<h1>Editing Freelancer Knowledge</h1>

<%= render 'form', freelancer_knowledge: @freelancer_knowledge %>

<%= link_to 'Show', @freelancer_knowledge %> |
<%= link_to 'Back', freelancer_knowledges_path %>
