%h1
  Objective Hiring
  - if logged_in?
    %a{"data-toggle" => "collapse", href: "#top"}
      %span.text-muted(class="glyphicon glyphicon-home")
%div{:class => "#{logged_in? ? 'collapse' : ''}", :id => "top"}
  %h3 Recent services
  %ul.list-group
    %li.list-group-item.disabled
      .row
        .col-sm-2 Name
        .col-sm-2 Start Date
    - @recent_services.each do |service|
      = render :partial => 'shared/service_line', locals: {service: service}



- if logged_in?
  = render :partial => 'timeline'