%h1 Listing add_company_id_to_contractors

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @add_company_id_to_contractors.each do |add_company_id_to_contractor|
      %tr
        %td= link_to 'Show', add_company_id_to_contractor
        %td= link_to 'Edit', edit_add_company_id_to_contractor_path(add_company_id_to_contractor)
        %td= link_to 'Destroy', add_company_id_to_contractor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Add company id to contractor', new_add_company_id_to_contractor_path
